@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

.Conteiner .Aprensentacao
{
    padding: 2rem 0 .1rem 2rem;
    letter-spacing: .2rem;
    font-weight: 700;
}

.header {
    background: rgba( 255, 255, 255, 0.4 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: .1rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 2px;
    color: #ffbb00;
    transition: .4s ease-in-out;
}

.header li a:hover, .header .menu-btn:hover {
    background-color: #f5f5f5;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #ffbb00;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #ffbb00;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 250px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.Conteiner .ConteudoDeApresentacao
{
    width: 100%;
    height: 36rem;
    display: flex;
    align-items: top;
    justify-content: center;
}

.Conteiner .ConteudoDeApresentacao .CarrosselImagens
{
    width: 100%;
    height: 35rem;
    padding: 2rem;
    position: relative;
    top: -1rem;
}

.Conteiner .ConteudoDeApresentacao .CarrosselImagens .carousel-inner img
{
    width: 60rem;
    position: relative;
    left: 50%;
    border-radius: .2rem;
    transform: translateX(-50%);
}

.Conteiner .ConteudoDeApresentacao .CarrosselImagens .carousel-inner .carousel-item .carousel-caption h3, p
{
    font-weight: 550;
    letter-spacing: 3px;
    font-style: italic;
    display: inline;
    border-radius: .2rem;
    background-color: rgba(11, 12, 12, 0.438);
}

/**************************************************************************************************************************/

.Conteiner .ConteudoPaginado
{
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC
{
    width: 95%;
    height: 82%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCImagem
{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCImagem img
{
    width: 22.3rem;
    height: 100%;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao
{
    width: 50%;
    height: 100%;
    position: relative;
    color: white;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao .ConteudoPaginadoSJCTexto
{
    width: 80%;
    height: 40%;
    text-align: justify;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao .ConteudoPaginadoSJCBotao
{
    text-align: justify;
    position: absolute;
    bottom: 5rem;
    right: 8rem;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao .ConteudoPaginadoSJCBotao a
{
    text-decoration: none;
}

/**************************************************************************************************************************/

.Conteiner .ConteudoAnimado
{
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC
{
    width: 22rem;
    height: 85%;
    position: relative;
    transition: .5s ease-out;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC:hover
{
    width: 44rem;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCImagem
{
    position: absolute;
    left: 0;
    z-index: 2;
    width: 22rem;
    height: 100%;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCInformacao
{
    position: absolute;
    right: 0;
    width: 22rem;
    height: 100%;
    color: black;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCImagem img
{
    width: 22rem;
    height: 100%;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCInformacao .ConteudoAnimadoSJCTexto
{
    width: 95%;
    height: 45%;
    padding: .5rem;
    text-align: justify;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCInformacao .ConteudoAnimadoSJCBotao
{
    text-align: justify;
    position: absolute;
    bottom: 2.5rem;
    right: 3rem;
}

.Conteiner .ConteudoAnimado a
{
    text-decoration: none;
} 

/*************************************************************************************************************/

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso
{
    width: 22rem;
    height: 85%;
    position: relative;
    transition: .5s ease-out;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso:hover
{
    width: 44rem;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCImagemInverso
{
    position: absolute;
    right: 0;
    z-index: 2;
    width: 22rem;
    height: 100%;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCImagemInverso img
{
    width: 22rem;
    height: 100%;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCInformacaoInverso
{
    position: absolute;
    left: 0;
    width: 22rem;
    height: 100%;
    color: black;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCInformacaoInverso .ConteudoAnimadoSJCTextoInverso
{
    width: 95%;
    height: 45%;
    padding: .5rem;
    text-align: justify;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCInformacaoInverso .ConteudoAnimadoSJCBotaoInverso
{
    text-align: justify;
    position: absolute;
    bottom: 2.5rem;
    right: 3rem;
}

.Conteiner .ConteudoAnimado a
{
    text-decoration: none;
} 

/**************************************************************************************************************************/

#Sumir2{
    display: none;
}

.Conteiner .ConteudoDropDown
{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC
{
    width: 95%;
    height: 85%;
    display: flex;
    justify-content: space-around;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCCorpo
{
    width: 25rem;
    height: 5rem;
    margin-top: 2rem;
    border-radius: 0 2.5rem 2.5rem 0;
    transition: .4s ease-in-out;
    position: relative;
    background-color: black;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCCorpo .ConteudoDropDownSJCTitulo
{
    width: 25rem;
    height: 5rem;
    border-radius: 0 2.4rem 2.4rem 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 1.2rem 0 rgba(74, 75, 83, 0.37);
    background-color: white;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCCorpo .ConteudoDropDownSJCTitulo h5
{
    margin: .3rem 0 0 2rem;
    font-size: 1.5rem;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCCorpo .ConteudoDropDownSJCIcone
{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: .8rem;
    right: 1.8rem;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCCorpo.active
{
    height: 22rem;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCCorpo .ConteudoDropDownSJCLista
{
    margin: 1rem 0 0 1rem;
    width: 23rem;
    display: none;
    text-align: justify;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCCorpo.active .ConteudoDropDownSJCLista
{
    margin-top: 1.8rem;
    display: block;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCCorpo.active .ConteudoDropDownSJCLista p
{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    letter-spacing: .1rem;
    font-weight: 700;
}

/**************************************************************************************************************************/

.Conteiner .Fim
{
    width: 100%;
    height: 28rem;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 5px 1rem 1rem rgba(74, 75, 83, 0.37);
}

.Conteiner .Fim .SJC
{
    width: 25rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Conteiner .Fim .Identificacao
{
    width: 25rem;
    height: 15rem;
    position: relative;
    color: white;
}

.Conteiner .Fim .Identificacao ul
{
    position: absolute;
    top: 2.8rem;
    left: 2rem;
}

.Conteiner .Fim .Identificacao li
{
    list-style: none;
	margin: 0;
	padding: 1rem 0 1rem 3rem;
	background-image: url("https://api.iconify.design/fa/caret-right.svg?color=white");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: .8rem;
}

.Conteiner .Fim .Identificacao a
{
    text-decoration: none;
    color: white;
}

.Conteiner .Fim .SJC img
{
    width: 20rem;
}

/**************************************************************************************************************************/

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media screen and (max-width: 48em) {

    .Conteiner .ConteudoPaginado
    {
        width: 100%;
        height: 80rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }

    .Conteiner .ConteudoPaginado .ConteudoPaginadoSJC
    {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCImagem
    {
        width: 20rem;
        height: 30rem;
    }

    .Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCImagem img
    {
        width: 22.3rem;
        height: 100%;
    }

    .Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao
    {
        width: 25rem;
        height: 30rem;
    }

    .Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao .ConteudoPaginadoSJCTexto
    {
        width: 25rem;
        height: 15rem;
        top: 25%;
        left: 50%;
    }

    .Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao .ConteudoPaginadoSJCBotao
    {
        text-align: justify;
        position: absolute;
        bottom: 3rem;
        right: 2rem;
    }

    .Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao .ConteudoPaginadoSJCBotao a
    {
        text-decoration: none;
    }

/*************************************************************************************************************************/

    .Conteiner .ConteudoAnimado
    {
        width: 100%;
        height: 60rem;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJC
    {
        width: 22rem;
        height: 85%;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJC:hover
    {
        width: 25rem;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCImagem
    {
        left: 0;
        width: 22rem;
        height: 25rem;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCImagem img
    {
        width: 22rem;
        height: 100%;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCInformacao
    {
        bottom: 0;
        width: 22rem;
        height: 25rem;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCInformacao .ConteudoAnimadoSJCTexto
    {
        width: 98%;
        height: 50%;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCInformacao .ConteudoAnimadoSJCBotao
    {
        bottom: 2rem;
        right: 2.5rem;
    }

    /*************************************/

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso
    {
        width: 22rem;
        height: 85%;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso:hover
    {
        width: 25rem;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCImagemInverso
    {
        right: 0;
        width: 22rem;
        height: 25rem;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCImagemInverso img
    {
        width: 22rem;
        height: 100%;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCInformacaoInverso
    {
        bottom: 0;
        width: 22rem;
        height: 25rem;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCInformacaoInverso .ConteudoAnimadoSJCTextoInverso
    {
        width: 98%;
        height: 50%;
    }

    .Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCInformacaoInverso .ConteudoAnimadoSJCBotaoInverso
    {
        bottom: 2rem;
        right: 2.5rem;
    }

    #Sumir1{
        display: none;
    }

    #Sumir2{
        display: flex;
    }

}