body {
    background-image: url("../imagens/download.jpg");
    background-repeat: repeat;
    background-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gold;
}
main {
    background-color: rgba(0,0,0,0.6);
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
}
.logo, .machete, .video, .imgs, .imgs2, .imgs3{
    margin: 0;
    text-align: center;
}