body {
    background-color: darkgrey;
    font-family: 'Oswald', sans-serif;
    color: rgb(250, 252, 252);
}
.div01{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
}
.logo,.titulo{
    margin: 0;
    text-align:center;
}
h1{
    text-align: center;
    text-decoration: overline;
}
.div02{
    background-color: rgb(247, 239, 239);
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    color: rgb(9, 10, 10);
}
.div03{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;

}
.div04{
    background-color: rgb(247, 239, 239);
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    color: rgb(9, 10, 10);
}
.div05{
    background-color: rgba(0, 0, 0, 0.788);
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
}