@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body{
    background: linear-gradient(135deg, #071b4d, black);
}

.conteiner .menuWebSite
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 5;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.conteiner .menuWebSite .logo
{
    position: relative;
    height: 5rem;
    width: 8rem;
    transition: .5s;
}

.conteiner .menuWebSite .logo:hover
{
    position: relative;
    height: 5rem;
    width: 25rem;
}

.conteiner .menuWebSite .logo h3
{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: white;
}

.conteiner .menuWebSite .logo img
{
    width: 8.5rem;
    position: absolute;
    top: 0;
}

.conteiner .menuWebSite .menu
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 3.5rem;
    width: 45rem;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.conteiner .menuWebSite .menu a
{
    text-decoration: none;
    color: white;
    padding: 1rem ;
    border-radius: .3rem;
    transition: 0.5s;
}

.conteiner .menuWebSite .menu a:hover
{
    background-color: #071b4d;
}

.conteiner .menuWebSite .menu ul
{
    display: inline-block;
    padding: 1rem;
}

.conteiner .menuWebSite .menu li
{
    list-style-type: none;
}

.conteiner .content
{
    width: 100%;
    height: 40rem;
    background-color: linear-gradient(135deg, #071b4d, black);
}

.conteiner .content
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner .content .carrosselImagens
{
    width: 65%;
    height: 34rem;
    padding: 2rem;
    box-shadow: 0 8px 32px 0 rgba(167, 167, 167, 0.692);
    border-radius: 1rem;
}

.conteiner .content .carrosselImagens .carousel-inner img
{
    width: 30rem;
    position: relative;
    left: 50%;
    border-radius: .2rem;
    transform: translateX(-50%);
}

.conteiner .content .carrosselImagens .carousel-caption h3, p
{
    font-weight: 450;
    letter-spacing: 4px;
}

.conteiner .pontosTuriscticos
{
    width: 100%;
    height: 45rem;
    background-color: white;
    position: relative;
}

.conteiner .pontosTuriscticos .ConteudoPontosTuristicos
{
    width: 60%;
    height: 55%;
    position: absolute;

    background-color: red;
}