@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

.Conteiner .MenuWebsite
{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    height: 5rem;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 2px 10px 0 rgba(27, 31, 95, 0.37);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 5;
}

.Conteiner .MenuWebsite .Logo
{
    position: relative;
    height: 4.1rem;
    width: 7rem;
    border-radius: 0;
    transition: .5s ease-out;
}

.Conteiner .MenuWebsite .Logo:hover
{
    position: relative;
    width: 22rem;
    border-radius: 0 3rem 3rem 0;
    background-color: white;
    box-shadow: 0 4px 1.2rem 0 rgba(74, 75, 83, 0.37);
}

.Conteiner .MenuWebsite .Logo h3
{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 1.1rem;
    color: #f1d014;
}

.Conteiner .MenuWebsite .Logo
{
    border-radius: 0;
}

.Conteiner .MenuWebsite .Logo img
{
    width: 7rem;
    position: absolute;
    top: 0;
}

.Conteiner .MenuWebsite .Menu
{
    position: relative;
    top: 50%;
    transform: translateY(-40%);
    height: 3.5rem;
    width: 48rem;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.Conteiner .MenuWebsite .Menu a
{
    text-decoration: none;
    padding: 1rem ;
    color: #f1d014;
    border-radius: .6rem;
    letter-spacing: .1rem;
    transition: 0.5s;
}

.Conteiner .MenuWebsite .Menu a:hover
{
    box-shadow: 0 4px 1.2rem 0 rgba(74, 75, 83, 0.37);
    background-color: white;
}

.Conteiner .MenuWebsite .Menu ul
{
    display: inline-block;
    padding: 1rem;
}

.Conteiner .MenuWebsite .Menu li
{
    list-style-type: none;
}

.Conteiner .ConteudoDeApresentacao
{
    width: 100%;
    height: 36rem;
    display: flex;
    align-items: top;
    justify-content: center;
}

.Conteiner .ConteudoDeApresentacao .CarrosselImagens
{
    width: 100%;
    height: 35rem;
    padding: 2rem;
    position: relative;
    top: -1rem;
}

.Conteiner .ConteudoDeApresentacao .CarrosselImagens .carousel-inner img
{
    width: 60rem;
    position: relative;
    left: 50%;
    border-radius: .2rem;
    transform: translateX(-50%);
}

.Conteiner .ConteudoDeApresentacao .CarrosselImagens .carousel-inner .carousel-item .carousel-caption h3, p
{
    font-weight: 550;
    letter-spacing: 3px;
    font-style: italic;
    display: inline;
    border-radius: .2rem;
    background-color: rgba(11, 12, 12, 0.438);
}

/**************************************************************************************************************************/

.Conteiner .ConteudoPaginado
{
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC
{
    width: 95%;
    height: 82%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCImagem
{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCImagem img
{
    width: 22.3rem;
    height: 100%;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao
{
    width: 50%;
    height: 100%;
    position: relative;
    color: white;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao .ConteudoPaginadoSJCTexto
{
    width: 80%;
    height: 40%;
    text-align: justify;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao .ConteudoPaginadoSJCBotao
{
    text-align: justify;
    position: absolute;
    bottom: 5rem;
    right: 8rem;
}

.Conteiner .ConteudoPaginado .ConteudoPaginadoSJC .ConteudoPaginadoSJCInformacao .ConteudoPaginadoSJCBotao a
{
    text-decoration: none;
}

/**************************************************************************************************************************/

.Conteiner .ConteudoAnimado
{
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

/*****************************************************************************/

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC
{
    width: 22rem;
    height: 85%;
    position: relative;
    transition: .5s ease-out;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC:hover
{
    width: 44rem;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCImagem
{
    position: absolute;
    left: 0;
    z-index: 2;
    width: 22rem;
    height: 100%;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCInformacao
{
    position: absolute;
    right: 0;
    width: 22rem;
    height: 100%;
    color: black;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCImagem img
{
    width: 22rem;
    height: 100%;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCInformacao .ConteudoAnimadoSJCTexto
{
    width: 95%;
    height: 45%;
    padding: .5rem;
    text-align: justify;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJC .ConteudoAnimadoSJCInformacao .ConteudoAnimadoSJCBotao
{
    text-align: justify;
    position: absolute;
    bottom: 2.5rem;
    right: 3rem;
}

.Conteiner .ConteudoAnimado a
{
    text-decoration: none;
} 

/*************************************************************************************************************/

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso
{
    width: 22rem;
    height: 85%;
    position: relative;
    transition: .5s ease-out;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso:hover
{
    width: 44rem;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCImagemInverso
{
    position: absolute;
    right: 0;
    z-index: 2;
    width: 22rem;
    height: 100%;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCImagemInverso img
{
    width: 22rem;
    height: 100%;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCInformacaoInverso
{
    position: absolute;
    left: 0;
    width: 22rem;
    height: 100%;
    color: black;
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCInformacaoInverso .ConteudoAnimadoSJCTextoInverso
{
    width: 95%;
    height: 45%;
    padding: .5rem;
    text-align: justify;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Conteiner .ConteudoAnimado .ConteudoAnimadoSJCInverso .ConteudoAnimadoSJCInformacaoInverso .ConteudoAnimadoSJCBotaoInverso
{
    text-align: justify;
    position: absolute;
    bottom: 2.5rem;
    right: 3rem;
}

.Conteiner .ConteudoAnimado a
{
    text-decoration: none;
} 

/**************************************************************************************************************************/

.Conteiner .ConteudoDropDown
{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC
{
    width: 95%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    background-color: red;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCTitulo
{
    width: 25rem;
    height: 5rem;
    margin-top: 2rem;
    border-radius: .5rem;
    transition: .5s ease-out;
    position: relative;
    background-color: black;
}

.Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCTitulo.active
{
    height: 20rem;
}

/* .Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCDropDown
{
    width: 85%;
    height: 5rem;
    margin: 2rem;
    background-color: black;
    transition: .5s;
} */

/* .Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCDropDown.active
{
    height: 32rem;
} */

/* .Conteiner .ConteudoDropDown .ConteudoDropDownSJC .ConteudoDropDownSJCDropDown .ConteudoDropDownSJCBotao
{
    width: 20rem;
    height: 5rem;
    position: absolute;
    background-color: white;
} */